# Dépendances
/back/vendor/
/front/node_modules/

# Env & secrets
/back/.env.dev
/back/.env.local
/back/.env.*.local
/back/config/jwt/*.pem
/back/nul

# Cache / build
/back/var/
/front/dist/

# Données Docker
/back/.env.local.php

.CLAUDE.md