-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: sportlink
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `avis`
--

DROP TABLE IF EXISTS `avis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `avis` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ponctualite` int NOT NULL,
  `fair_play` int NOT NULL,
  `niveau_conforme` int NOT NULL,
  `date_creation` datetime NOT NULL,
  `notant_id` int NOT NULL,
  `evalue_id` int NOT NULL,
  `game_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_avis_notant_game` (`notant_id`,`game_id`),
  KEY `IDX_8F91ABF0FBB3368D` (`notant_id`),
  KEY `IDX_8F91ABF06CFFB48E` (`evalue_id`),
  KEY `IDX_8F91ABF0E48FD905` (`game_id`),
  CONSTRAINT `FK_8F91ABF06CFFB48E` FOREIGN KEY (`evalue_id`) REFERENCES `utilisateur` (`id`),
  CONSTRAINT `FK_8F91ABF0E48FD905` FOREIGN KEY (`game_id`) REFERENCES `game` (`id`),
  CONSTRAINT `FK_8F91ABF0FBB3368D` FOREIGN KEY (`notant_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=99 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `demande_match`
--

DROP TABLE IF EXISTS `demande_match`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `demande_match` (
  `id` int NOT NULL AUTO_INCREMENT,
  `statut` varchar(255) NOT NULL,
  `date_creation` datetime NOT NULL,
  `game_id` int NOT NULL,
  `demandeur_id` int NOT NULL,
  `equipe_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_demande_game_demandeur` (`game_id`,`demandeur_id`),
  KEY `IDX_8C85462CE48FD905` (`game_id`),
  KEY `IDX_8C85462C95A6EE59` (`demandeur_id`),
  KEY `IDX_8C85462C6D861B89` (`equipe_id`),
  CONSTRAINT `FK_8C85462C6D861B89` FOREIGN KEY (`equipe_id`) REFERENCES `equipe` (`id`),
  CONSTRAINT `FK_8C85462C95A6EE59` FOREIGN KEY (`demandeur_id`) REFERENCES `utilisateur` (`id`),
  CONSTRAINT `FK_8C85462CE48FD905` FOREIGN KEY (`game_id`) REFERENCES `game` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `doctrine_migration_versions`
--

DROP TABLE IF EXISTS `doctrine_migration_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `equipe`
--

DROP TABLE IF EXISTS `equipe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipe` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `localisation` varchar(255) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `sport_id` int NOT NULL,
  `niveau_id` int DEFAULT NULL,
  `club_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_2449BA15AC78BCF8` (`sport_id`),
  KEY `IDX_2449BA15B3E9C81` (`niveau_id`),
  KEY `IDX_2449BA1561190A32` (`club_id`),
  CONSTRAINT `FK_2449BA1561190A32` FOREIGN KEY (`club_id`) REFERENCES `utilisateur` (`id`),
  CONSTRAINT `FK_2449BA15AC78BCF8` FOREIGN KEY (`sport_id`) REFERENCES `sport` (`id`),
  CONSTRAINT `FK_2449BA15B3E9C81` FOREIGN KEY (`niveau_id`) REFERENCES `niveau` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `equipe_joueur`
--

DROP TABLE IF EXISTS `equipe_joueur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipe_joueur` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role` varchar(255) NOT NULL,
  `statut` varchar(255) NOT NULL,
  `origine` varchar(255) NOT NULL,
  `utilisateur_id` int NOT NULL,
  `equipe_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_F046CF6DFB88E14F` (`utilisateur_id`),
  KEY `IDX_F046CF6D6D861B89` (`equipe_id`),
  CONSTRAINT `FK_F046CF6D6D861B89` FOREIGN KEY (`equipe_id`) REFERENCES `equipe` (`id`),
  CONSTRAINT `FK_F046CF6DFB88E14F` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=297 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `game`
--

DROP TABLE IF EXISTS `game`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `game` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_match` datetime NOT NULL,
  `lieu` varchar(255) DEFAULT NULL,
  `description` longtext,
  `statut` varchar(255) NOT NULL,
  `sport_id` int NOT NULL,
  `niveau_requis_id` int DEFAULT NULL,
  `createur_id` int NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_232B318CAC78BCF8` (`sport_id`),
  KEY `IDX_232B318C97DEF455` (`niveau_requis_id`),
  KEY `IDX_232B318C73A201E5` (`createur_id`),
  CONSTRAINT `FK_232B318C73A201E5` FOREIGN KEY (`createur_id`) REFERENCES `utilisateur` (`id`),
  CONSTRAINT `FK_232B318C97DEF455` FOREIGN KEY (`niveau_requis_id`) REFERENCES `niveau` (`id`),
  CONSTRAINT `FK_232B318CAC78BCF8` FOREIGN KEY (`sport_id`) REFERENCES `sport` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=207 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `match_camp`
--

DROP TABLE IF EXISTS `match_camp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `match_camp` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role` varchar(255) NOT NULL,
  `statut` varchar(255) NOT NULL,
  `game_id` int NOT NULL,
  `equipe_id` int DEFAULT NULL,
  `joueur_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_A0FBF342E48FD905` (`game_id`),
  KEY `IDX_A0FBF3426D861B89` (`equipe_id`),
  KEY `IDX_A0FBF342A9E2D76C` (`joueur_id`),
  CONSTRAINT `FK_A0FBF3426D861B89` FOREIGN KEY (`equipe_id`) REFERENCES `equipe` (`id`),
  CONSTRAINT `FK_A0FBF342A9E2D76C` FOREIGN KEY (`joueur_id`) REFERENCES `utilisateur` (`id`),
  CONSTRAINT `FK_A0FBF342E48FD905` FOREIGN KEY (`game_id`) REFERENCES `game` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=360 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `message`
--

DROP TABLE IF EXISTS `message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `message` (
  `id` int NOT NULL AUTO_INCREMENT,
  `contenu` longtext NOT NULL,
  `date_envoi` datetime NOT NULL,
  `game_id` int NOT NULL,
  `expediteur_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_B6BD307FE48FD905` (`game_id`),
  KEY `IDX_B6BD307F10335F61` (`expediteur_id`),
  CONSTRAINT `FK_B6BD307F10335F61` FOREIGN KEY (`expediteur_id`) REFERENCES `utilisateur` (`id`),
  CONSTRAINT `FK_B6BD307FE48FD905` FOREIGN KEY (`game_id`) REFERENCES `game` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=193 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `niveau`
--

DROP TABLE IF EXISTS `niveau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `niveau` (
  `id` int NOT NULL AUTO_INCREMENT,
  `libelle` varchar(100) NOT NULL,
  `ordre` int NOT NULL,
  `sport_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_4BDFF36BAC78BCF8` (`sport_id`),
  CONSTRAINT `FK_4BDFF36BAC78BCF8` FOREIGN KEY (`sport_id`) REFERENCES `sport` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `resultat`
--

DROP TABLE IF EXISTS `resultat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resultat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `score_camp1` int NOT NULL,
  `score_camp2` int NOT NULL,
  `game_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_E7DB5DE2E48FD905` (`game_id`),
  CONSTRAINT `FK_E7DB5DE2E48FD905` FOREIGN KEY (`game_id`) REFERENCES `game` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=84 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sport`
--

DROP TABLE IF EXISTS `sport`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sport` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `type` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_1A85EFD26C6E55B5` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(180) NOT NULL,
  `roles` json NOT NULL,
  `password` varchar(255) NOT NULL,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) DEFAULT NULL,
  `type` varchar(255) NOT NULL,
  `localisation` varchar(255) DEFAULT NULL,
  `logo` varchar(512) DEFAULT NULL,
  `date_inscription` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_IDENTIFIER_EMAIL` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=96 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `utilisateur_niveau`
--

DROP TABLE IF EXISTS `utilisateur_niveau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur_niveau` (
  `id` int NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int NOT NULL,
  `sport_id` int NOT NULL,
  `niveau_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_2A72C9E0FB88E14F` (`utilisateur_id`),
  KEY `IDX_2A72C9E0AC78BCF8` (`sport_id`),
  KEY `IDX_2A72C9E0B3E9C81` (`niveau_id`),
  CONSTRAINT `FK_2A72C9E0AC78BCF8` FOREIGN KEY (`sport_id`) REFERENCES `sport` (`id`),
  CONSTRAINT `FK_2A72C9E0B3E9C81` FOREIGN KEY (`niveau_id`) REFERENCES `niveau` (`id`),
  CONSTRAINT `FK_2A72C9E0FB88E14F` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=174 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-07 14:48:37
